@charset "utf-8";

@media (min-width:768px){
* {margin:0; padding:0;}
#wrap {width:100%; height:auto; margin:0 auto; background-color:#eee; font-family:'Segoe UI';}
ul,ol,li {list-style:none; margin:0; padding:0;}
a {text-decoration:none;}

/***   slider   ***/
#slider {margin:0 auto; background-color:#f3f8ff; display:flex; justify-content:center; align-items:center;}
.slider_box {display:flex; justify-content:space-between;}
.slider_leftbox {display:flex; flex-flow:column wrap;}
.slider_leftbox p {font-weight:500; line-height:25px; color:#02033b;}
.slider_leftbox h1 {color:#02033b; letter-spacing:-2px;}
.slider_button_box {display:flex; flex-flow:column wrap; justify-content:center; align-items:flex-start;}
.slider_leftbox a:first-child {background-color:#FFC247; padding:18px 20px; margin:0 50px 0 0; border-radius:40px; border:0; color:#02033b;}
.slider_leftbox a:last-child {background-color:transparent; margin:20px 0 0 0; padding:16px 20px; border-radius:40px; border:2px solid#02033b; color:#02033b;}
.slider_leftbox a:last-child:hover {color:#584cff; border:2px solid #584cff;}
.slider_leftbox a span {font-size:20px; font-weight:bold; letter-spacing:-1px;}

#slider {width:100%; height:775px; padding:90px 0 96px 0; background-color:#f3f8ff; background-image:url("../img/slider_img1.png"); background-repeat:no-repeat, no-repeat; background-size:1600px, 850px; background-position:100% 15%, 80% 10%;}
.slider_box {width:750px; height:640px;}
.slider_leftbox {width:100%; height:100%; padding:80px 60px 0 0;}
.slider_leftbox h1 {font-size:54px;}
.slider_leftbox p {font-size:20px; margin:50px 0 50px 0;}
.slider_button_box {width:100%; height:30%;}
.slider_leftbox a:first-child {width:205px; height:20px;}
.slider_leftbox a:last-child {width:196px; height:20px}
.slider_rightbox {display:none;}


/***   1   ***/
.content1 {width:100%; height:820px; display:flex; flex-flow:column wrap; justify-content:space-around; align-content:center; background:transparent linear-gradient(180deg, #F7C95F 0%, #FDB235 100%) 0% 0% no-repeat padding-box;} 
.content1_top {width:65%; height:12%; margin:0 0 0 60px;} 
.content1_top span {font-size:36px; font-weight:bold; color:#02033b;}

.content1_middle {width:100%; height:34%; display:flex; flex-flow:row nowrap; align-items:center; justify-content:center; margin:10px 0 0 0;} 
.content1_box {width:23%; height:95%; padding:25px 30px; background-color:#fff; border-radius:40px; margin:0 15px; display: flex; flex-flow:column nowrap; justify-content:space-around; align-items:flex-start; box-shadow:5px 5px 20px rgb(109, 109, 109, 0.7);}
.content1_box img {width:50%; height:11%;}
.content1_box p:nth-child(2) {font-size:15px; color:#02033b;}
.content1_box p:last-child {font-size:18px; font-weight:bold; color:#02033b;}

.swiper {width:100%; height:5%; margin:50px 0 0 0px; display:flex; justify-content:center;}
.swiper span {font-size:20px; letter-spacing:15px; color:#fff;}

.content1_bottom {width:80%; height:25%; margin:50px auto 0px; display:flex;}
.content1_bottom span {width:25%; height:40%;font-size:30px; font-weight:bold; margin:20px 0 0 30px; color:#02033b;}
.content1_bottom_logo {width:75%; height:150px; display:flex; justify-content:space-evenly; margin:0 0 0 30px;}
.bottom_logo_box {width:130px; height:100px; margin:0 20px 0 0;}
.bottom_logo_box img {width:100%; height:100%;}
.content1_bottom_logo div:nth-child(2) img {width:100%; height:50%; margin:25px 0 0 0;}
.content1_bottom_logo div:nth-child(3) img {width:100%; height:50%; margin:25px 0 0 0;}
.content1_bottom_logo div:nth-child(4) img {width:100%; height:60%; margin:20px 0 0 0;}
.content1_bottom_logo div:nth-child(5) img {width:100%; height:80%; margin:10px 0 0 0;}
.content1_bottom_logo div:nth-child(6) img {width:100%; height:45%; margin:25px 0 0 0;}

/***   2   ***/
.content2 {width:100%; height:700px; padding:40px 0 10px 0; background-color:#fff; display:flex; justify-content:center; align-items:center;}
.content2_box {width:85%; height:90%; display:flex; flex-flow:row nowrap; align-items:center; justify-content:space-between;}
.content2_left {width:48%; height:100%; padding:0 80px 0 0; display:flex; flex-flow:column wrap; justify-content:space-around;}
.content2_left h1 {font-size:36px; color:#02033b; margin:10px 0 0 0; line-height:40px; letter-spacing:-1px;}
.content2_left p {font-size:21px; font-weight:500;  line-height:1.5; letter-spacing:-1px; color:#02033b;}

.content2_buttonbox {width:100%; height:25%;  display:flex; flex-flow:column nowrap;}
.content2_left a:first-child {width:208px; height:24px; background-color:#FFC247; padding:15px 20px; margin:0 30px 0 0; border-radius:40px; border:0; color:#02033b;}
.content2_left a:last-child {width:195px; height:22px; background-color:transparent; padding:16px 20px; border-radius:40px; margin:20px 0 0 0; border:2px solid#02033b; color:#02033b;}
.content2_left a:last-child:hover {color:#584cff; border:2px solid #584cff;}
.content2_left a span {font-size:20px; font-weight:bold; letter-spacing:-1px;}

.content2_right {width:42%; height:53%; border-radius:50%; box-shadow:20px 0px 0 #FFC247; overflow:hidden; margin:0 30px 0 0;}
.content2_right img {width:100%; height:100%;}

/***   3   ***/
.content3 {width:100%; height:1300px; padding:50px 0; background-color:#f3f8ff; display:flex;   flex-flow:row wrap; justify-content:center; align-items:center;}
.content3_center {width:80%; height:90%; display:flex; flex-flow:column wrap; align-items:center;}
.content3_center h2 {font-size:36px; font-weight:900; color:#02033b; padding:0 100px; text-align:center; margin:0 0 70px 0; letter-spacing:-2px;}

.content3_box {width:84%; height:75%; padding:50px; background-color:#fff; border-radius:50px; box-shadow:10px 10px 15px #c1c1c1; display:flex; flex-wrap:wrap; justify-content:space-around; align-content:space-around;}
.content3_innerbox {width:22%; height:38%; margin:1%; display:flex; flex-flow:column wrap; justify-content:space-around; align-items:center; padding:10px 20px; text-align:center;}
.content3_innerbox img {width:45%; height:22%;}
.content3_innerbox p:nth-child(2) {font-size:20px; font-weight:bold; color:#02033b;}
.content3_innerbox p:nth-child(3) {text-align:center; color:#02033b;}

.content3_bottom {width:800px; height:60px; display:flex; margin:0 auto; justify-content:center; margin:0 0 -50px 0;}
.content3_bottom a:first-child {width:225px; height:22px; background-color:#FFC247; padding:15px 20px; margin:0 30px 0 0; border-radius:40px; border:0; color:#02033b;}
.content3_bottom a:last-child {width:215px; height:20px; background-color:transparent; padding:16px 20px; border-radius:40px; border:2px solid#02033b; color:#02033b;}
.content3_bottom a:last-child:hover {color:#584cff; border:2px solid #584cff;}
.content3_bottom a span {font-size:20px; font-weight:bold; letter-spacing:-1px;}

/***   4   ***/
.content4 {width:100%; height:347px; padding:62px 0; background-color:#fff; display:flex; justify-content:center; align-items:center;}
.content4_box {width:100%; height:95%; display:flex; flex-flow:row nowrap; justify-content: center;} 
.content4_left {width:21%; height:76%; padding:40px 40px; margin:0 40px; background: transparent linear-gradient(180deg, #F7C95F 0%, #FDB235 100%) 0% 0% no-repeat padding-box; border-radius:50px; display:flex; justify-content:space-around; flex-flow:column wrap;}
.content4_left span:first-child {font-size:30px; font-weight:bold; letter-spacing:-1px;}
.content4_left p {font-weight:700; line-height:1.3;}
.content4_left a {width:100px; height:25px; background-color:#4335de; padding:6px 15px; border-radius:40px; border:0; color:#02033b; text-align:center;}
.content4 a span:first-child {font-size:16px; font-weight:bold; color:#fff; letter-spacing:-1px;}

.content4_right {width:21%; height:76%; padding:40px 40px; display:flex; flex-flow:column wrap; justify-content:space-around;}
.content4_right p:first-child {font-size:30px; font-weight:bold; letter-spacing:-1px;}
.content4_right:last-child {font-weight:700; line-height:1.3;}
.content4_right a {width:130px; height:20px; background-color:transparent; padding:9px 10px 6px 10px; border-radius:40px; border:2px solid#02033b; text-align:center;}
.content4_right a:hover {color:#584cff; border:2px solid #584cff;}
.content4 .content4_right a span {color:#02033b; font-size:16px; font-weight:bold; letter-spacing:-1px;}

/***   5   ***/
.content5 {width:100%; height:300px; padding:60px 0; background: transparent linear-gradient(180deg, #2925CC 0%, #4B48E5 100%) 0% 0% no-repeat padding-box; display:flex; flex-flow:row nowrap; justify-content:center; align-items:center;}
.content5_box {width:65%; height:95%; display:flex; flex-flow:column wrap; justify-content:space-around; align-items:center; line-height:1.4; text-align:center;}
.content5_box p:first-child {font-size:30px; font-weight:bold; color:#fff; margin:0 50px;} 
.content5_box p:nth-child(2) {font-size:18px; font-weight:600; margin:30px 0; color: #fff;}

.content5_bottom a:first-child {width:240px; height:30px; background-color:#FFC247; padding:15px 20px; margin:0 30px 0 0; border-radius:40px; border:0; color:#02033b;}
.content5_bottom a:last-child {width:240px; height:24px; background-color:transparent; padding:16px 20px; border-radius:40px; border:2px solid#fff; color:#fff;}
.content5_bottom a:last-child:hover {color:#FFC247; border:2px solid #FFC247;}
.content5_bottom a span {font-size:16px; font-weight:bold; letter-spacing:-1px;}

/***   6   ***/
.content6 {width:100%; height:1850px; padding:7% 0 5% 0; background-color:#f3f8ff; display:flex; flex-flow:column nowrap; align-items:center;}
.content6 h1 {font-size:54px; font-weight:900; color:#02033b;; text-align:center; margin:0px 0 6% 0;}
.content6_center {width:70%; height:90%; display:flex; flex-flow:column nowrap; align-items:center; justify-content:space-around;}

.content6_box {width:65%; height:30%; border-radius:50px; background-color:#fff; overflow:hidden;}
.content6_box:hover {cursor:pointer; background-color:#FFC247;}

.content6_box_top_1 {width:100%; height:50%; background:url("../img/content_6_img1.jpg") center no-repeat; background-size:cover;}
.content6_box_top_1 span {background-color:#fff; font-size:16px; font-weight:bold; padding:10px 18px; border-radius:30px; position:relative; top:40px; left:30px;}

.content6_box_top_2 {width:100%; height:50%; background:url("../img/content_6_img2.jpg") center no-repeat; background-size:cover;}
.content6_box_top_2 span {background-color:#fff; font-size:16px; font-weight:bold; padding:10px 18px; border-radius:30px; position:relative; top:40px; left:30px;}

.content6_box_top_3 {width:100%; height:50%; background:url("../img/content_6_img3.jpg") center no-repeat; background-size:cover;}
.content6_box_top_3 span {background-color:#fff; font-size:16px; font-weight:bold; padding:10px 18px; border-radius:30px; position:relative; top:40px; left:30px;}

.content6_box_bottom {width:87%; height:40%; padding:25px; display:flex; flex-flow:column wrap; justify-content:space-around;}
.content6_box_bottom p:first-child {font-size:24px; font-weight:bold; letter-spacing:-1px; line-height:1.3; color:#02033b;}
.content6_box_bottom p:nth-child(2) {font-size:14px; line-height:20px; line-height:1.5; color:#02033b;}

.content6 a {margin:30px 0 0 0; }
.content6 a span {width:200px; height:100px; padding:15px 20px; background-color:#FFC247; color:#02033b; font-size:20px; font-weight:bold; border-radius:40px;}
}

